##

In [51]:
import pandas as pd
from numpy.random import randn

In [53]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1, 2, 3, 1, 2, 3]

hier_index = list(zip(outside, inside)) # O método zip compacta listas em tuplas

In [55]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [57]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [59]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [61]:
df = pd.DataFrame(randn(6,2), index=hier_index, columns=['A', 'B']) # O index se torna a variável MultiIndex de tuplas

In [63]:
df

             A         B
G1 1 -0.787869 -0.676154
   2  0.507443  0.810336
   3  0.436832 -0.284031
G2 1  0.161140 -1.203387
   2  1.370251  0.703805
   3  1.544931  1.285102

In [65]:
df.loc["G1"] # Retornando o index de maior hierarquia

          A         B
1 -0.787869 -0.676154
2  0.507443  0.810336
3  0.436832 -0.284031

In [79]:
df.loc["G1"].loc[[1]] # Retornando o index que está dentro de uma hierarquia

          A         B
1 -0.787869 -0.676154

In [81]:
df.index.names # Nomes dos index

FrozenList([None, None])

In [93]:
df.index.names = ["Grupo", "número"]

In [95]:
df

                     A         B
Grupo número
G1    1      -0.787869 -0.676154
      2       0.507443  0.810336
      3       0.436832 -0.284031
G2    1       0.161140 -1.203387
      2       1.370251  0.703805
      3       1.544931  1.285102

In [99]:
df.xs(1, level="número") # Permite acessar uma linha de um index através do level

              A         B
Grupo
G1    -0.787869 -0.676154
G2     0.161140 -1.203387