## O iloc serve para acessar linhas de um DataFrame e é pode ser utilizado em conjunto com filtros

In [5]:
import pandas as pd
from numpy.random import randn

In [14]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], columns= 'W X Y Z'.split())

In [37]:
df

          W         X         Y         Z
A  0.859189  1.690392 -0.643008  1.501031
B  1.123562  0.949900  1.005420 -0.120202
C  0.727976  1.226092  0.918527 -1.774012
D -0.721834 -0.017359 -0.940663  0.816725
E  0.262255 -0.283993  0.062724  2.807845

In [31]:
df.loc[['A', 'B'], ['W']] # Retornando somente as linhas A e B da coluna W

          W
A  0.859189
B  1.123562

## iloc utiliza de seleções númericas de linhas e colunas

In [49]:
df.iloc[1,2] # Ele utiliza [linha, coluna]

1.0054203923649165

In [53]:
df.iloc[:-1,1:] 
# Pode-se utilizar de seleções no modelo de strings
# Estou exibindo o DataFrame removendo a última linha e a partir da segunda coluna(ignorando a primeira 1:)

          X         Y         Z
A  1.690392 -0.643008  1.501031
B  0.949900  1.005420 -0.120202
C  1.226092  0.918527 -1.774012
D -0.017359 -0.940663  0.816725

## Filtros utilizando condições booleanas

In [58]:
df > 0 # É retornado True para as "células" que forem maior do que 0 no DataFrame

       W      X      Y      Z
A   True   True  False   True
B   True   True   True  False
C   True   True   True  False
D  False  False  False   True
E   True  False   True   True

In [83]:
df[df > 0] 
# É feita uma comparação para todos os dados do DataFrame se são maiores que zero
# E é exibido como DataFrame somente os valores que são True na comparação

          W         X         Y         Z
A  0.859189  1.690392       NaN  1.501031
B  1.123562  0.949900  1.005420       NaN
C  0.727976  1.226092  0.918527       NaN
D       NaN       NaN       NaN  0.816725
E  0.262255       NaN  0.062724  2.807845

In [93]:
df[df["X"] > 0] 
# Foi feito um filtro no DataFrame exibindo somente os valores das colunas onde na coluna X forem maiores que 0

          W         X         Y         Z
A  0.859189  1.690392 -0.643008  1.501031
B  1.123562  0.949900  1.005420 -0.120202
C  0.727976  1.226092  0.918527 -1.774012