In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({'a': [1,2,np.nan],
                  'b': [5,np.nan,np.nan],
                  'c': [6,7,8]})

In [7]:
df

     a    b  c
0  1.0  5.0  6
1  2.0  NaN  7
2  NaN  NaN  8

In [13]:
df.dropna(axis=1) # Executados cortes em colunas, colunas que possuem tipo NaN

   c
0  6
1  7
2  8

In [17]:
df.dropna(axis=0) # Executados cortes nas linhas, linhas que possuem tipo NaN

     a    b  c
0  1.0  5.0  6

In [21]:
df.dropna(axis=0, thresh=2) # O thresh irá definir a partir de quantos NaN a linha ou coluna será cortada

     a    b  c
0  1.0  5.0  6
1  2.0  NaN  7

In [25]:
df.fillna('Vazio')

       a      b  c
0    1.0    5.0  6
1    2.0  Vazio  7
2  Vazio  Vazio  8

In [29]:
df.ffill() # Acrescenta nos campos vazios o valor anterior

     a    b  c
0  1.0  5.0  6
1  2.0  5.0  7
2  2.0  5.0  8

In [33]:
df # Nenhuma dessas formulas altera definitivamente o DataFrame original

     a    b  c
0  1.0  5.0  6
1  2.0  NaN  7
2  NaN  NaN  8