In [4]:
import pandas as pd
from numpy.random import randn

In [9]:
df = pd.DataFrame(randn(5,4), index=["A","B","C","D","E"], columns="W X Y Z".split())

## Métodos de se manipular os índices de um DataFrame

In [11]:
df

          W         X         Y         Z
A  0.349107  0.240011 -0.466053 -0.399843
B  0.648228  1.140957  0.691442  0.140729
C  2.296592  1.493367 -0.637009  0.126544
D -0.944324 -0.253151  0.556806 -0.483362
E  0.341513 -1.217122 -2.114856 -0.216331

In [15]:
df.index # Retorna uma lista com os índices

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [19]:
df.columns # Retorna uma lista com as colunas

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [29]:
df.reset_index(inplace=True) # "Extrai" o índice original como coluna atribuindo um índice númerico

In [31]:
df # Vale ressaltar que o método não altera o DataFrame original é necessário (inplace = True)

  index         W         X         Y         Z
0     A  0.349107  0.240011 -0.466053 -0.399843
1     B  0.648228  1.140957  0.691442  0.140729
2     C  2.296592  1.493367 -0.637009  0.126544
3     D -0.944324 -0.253151  0.556806 -0.483362
4     E  0.341513 -1.217122 -2.114856 -0.216331

In [41]:
df.set_index("index", inplace=True) # Forma de dar "nome" a coluna de índices e desfazer o reset_index

In [43]:
df

              W         X         Y         Z
index
A      0.349107  0.240011 -0.466053 -0.399843
B      0.648228  1.140957  0.691442  0.140729
C      2.296592  1.493367 -0.637009  0.126544
D     -0.944324 -0.253151  0.556806 -0.483362
E      0.341513 -1.217122 -2.114856 -0.216331

In [45]:
novo_index = "AA BB CC DD EE".split()

In [47]:
df["novo_index"] = novo_index # Acrescentando nova coluna

In [49]:
df

              W         X         Y         Z novo_index
index
A      0.349107  0.240011 -0.466053 -0.399843         AA
B      0.648228  1.140957  0.691442  0.140729         BB
C      2.296592  1.493367 -0.637009  0.126544         CC
D     -0.944324 -0.253151  0.556806 -0.483362         DD
E      0.341513 -1.217122 -2.114856 -0.216331         EE

In [55]:
df.reset_index().set_index("novo_index") # Transformando ela no index sem apagar o original

           index         W         X         Y         Z
novo_index
AA             A  0.349107  0.240011 -0.466053 -0.399843
BB             B  0.648228  1.140957  0.691442  0.140729
CC             C  2.296592  1.493367 -0.637009  0.126544
DD             D -0.944324 -0.253151  0.556806 -0.483362
EE             E  0.341513 -1.217122 -2.114856 -0.216331