## Series são as colunas de uma tabela e as tabelas são as data frames

In [7]:
import pandas as pd
import numpy as np

In [11]:
lista = [1 , 2, 3]
lista_str = ["A", "B", "C"]
array = np.array([10, 20, 30])
dict = {"a": 1, "b": 2, "c": 3}

## O Series organiza os dados informados em colunas, atribuindo os índices(linhas) se não forem informados

In [15]:
pd.Series(lista)

0    1
1    2
2    3
dtype: int64

In [18]:
pd.Series(lista_str)

0    A
1    B
2    C
dtype: object

In [22]:
pd.Series(data=lista, index=lista_str) #Dessa forma foi atribuido uma lista com os valores e uma lista para índice

A    1
B    2
C    3
dtype: int64

In [26]:
pd.Series(dict) #Dicionarios são automaticamente atribuidos keys como índice e values como series

a    1
b    2
c    3
dtype: int64

## Selecionando e somando Series

In [32]:
serie_1 = pd.Series(lista, index=["Brasil","EUA","Japão"])
serie_1

Brasil    1
EUA       2
Japão     3
dtype: int64

In [36]:
serie_2 = pd.Series(array, index=["Brasil","EUA","China"])
serie_2

Brasil    10
EUA       20
China     30
dtype: int32

In [48]:
serie_1[['Brasil', 'EUA']] #Acessando um índice da Series

Brasil    1
EUA       2
dtype: int64

In [54]:
serie_1 + serie_2 #São somados somente os valores cujos índices são correspondentes o resto retorna NaN

Brasil    11.0
China      NaN
EUA       22.0
Japão      NaN
dtype: float64