## Exercícios

Link para o Dataset utilizado: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [4]:
import pandas as pd

## Neste projeto, trabalhei com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregando os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [7]:
df_2000 = pd.read_csv('gasolina_2000+.csv', index_col=0)
df_2010 = pd.read_csv('gasolina_2010+.csv', index_col=0, low_memory=False)

df_main = pd.concat([df_2000,df_2010])

### 2.Investigando as colunas e conjunto de dados usando o head() e info()

In [10]:
### Percebe-se que ambos os DF possuem 18 colunas onde a primeira coluna pode ser usada como indíce da tabela
df_main.head(1)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133

In [12]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [15]:
type(df_main.iloc[3,1])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [18]:
df_main['DATA INICIAL'] = pd.to_datetime(df_main['DATA INICIAL'])
df_main['DATA FINAL'] = pd.to_datetime(df_main['DATA FINAL'])
type(df_main.iloc[3,1])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [113]:
df_main['ANO_MES'] = df_main['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + df_main['DATA FINAL'].apply(lambda x: '-{:02d}'.format(x.month))
df_main.head(1)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO_MÊS FINAL,MÊS,ANO_MES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05,5,2004-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [116]:
df_main.iloc[::,4].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [119]:
df_gasolina_comum = df_main[df_main['PRODUTO'] == 'GASOLINA COMUM']
df_gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO_MÊS FINAL,MÊS,ANO_MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,...,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05,5,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,...,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05,5,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,...,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05,5,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,...,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05,5,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,...,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05,5,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,...,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,...,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,...,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,...,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [122]:
# Uma tabela somente com os dados de agosto
df_gasolina_comum[df_gasolina_comum['ANO_MES'] == '2008-08']

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO_MÊS FINAL,MÊS,ANO_MES
17949,2008-07-27,2008-08-02,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,86,R$/l,2.573,0.021,2.520,...,0.372,0.008,2.201,0.068,2.0938,2.371,0.031,2008-08,8,2008-08
17950,2008-07-27,2008-08-02,CENTRO OESTE,GOIAS,GASOLINA COMUM,255,R$/l,2.429,0.151,2.210,...,0.223,0.062,2.206,0.045,2.117,2.3442,0.02,2008-08,8,2008-08
17951,2008-07-27,2008-08-02,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,143,R$/l,2.626,0.214,2.360,...,0.32,0.081,2.306,0.076,2.1977,2.5,0.033,2008-08,8,2008-08
17952,2008-07-27,2008-08-02,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,139,R$/l,2.718,0.074,2.548,...,0.446,0.027,2.272,0.055,2.1681,2.47,0.024,2008-08,8,2008-08
17953,2008-07-27,2008-08-02,NORDESTE,ALAGOAS,GASOLINA COMUM,104,R$/l,2.768,0.056,2.590,...,0.475,0.020,2.293,0.046,2.1694,2.372,0.02,2008-08,8,2008-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18079,2008-08-24,2008-08-30,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,737,R$/l,2.546,0.120,2.290,...,0.28,0.047,2.266,0.059,2.1533,2.4808,0.026,2008-08,8,2008-08
18080,2008-08-24,2008-08-30,SUDESTE,SAO PAULO,GASOLINA COMUM,2380,R$/l,2.402,0.093,2.099,...,0.312,0.039,2.09,0.043,1.95,2.24,0.021,2008-08,8,2008-08
18081,2008-08-24,2008-08-30,SUL,PARANA,GASOLINA COMUM,570,R$/l,2.438,0.083,2.140,...,0.312,0.034,2.126,0.049,1.947,2.2448,0.023,2008-08,8,2008-08
18082,2008-08-24,2008-08-30,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,620,R$/l,2.595,0.087,2.390,...,0.384,0.034,2.211,0.049,2.068,2.3909,0.022,2008-08,8,2008-08
18083,2008-08-24,2008-08-30,SUL,SANTA CATARINA,GASOLINA COMUM,389,R$/l,2.553,0.071,2.299,...,0.391,0.028,2.162,0.045,2.0537,2.3428,0.021,2008-08,8,2008-08

In [124]:
# Realizando .mean() na coluna da tabela que possui somente os dados de agosto
preco_medio_agosto_2008 = df_agosto_2008['PREÇO MÉDIO REVENDA'].mean()
preco_medio_agosto_2008

nan

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [126]:
# Filtro com duas condições utilizando '&'
df_maio_2014_SP = df_gasolina_comum[(df_gasolina_comum['ANO_MES'] == '2014-05') & (df_gasolina_comum['ESTADO'] == 'SAO PAULO')]
preco_medio_maio_2014_SP = df_maio_2014_SP['PREÇO MÉDIO REVENDA'].mean()
preco_medio_maio_2014_SP

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [129]:
df_preco_maior_5 = df_main[(df_main['PREÇO MÁXIMO REVENDA'] > 5) & (df_main['PRODUTO'] == "GASOLINA COMUM")]
estados = df_preco_maior_5.drop_duplicates(['ESTADO'])
estados

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO_MÊS FINAL,MÊS,ANO_MES
92471,2017-08-27,2017-09-02,NORTE,ACRE,GASOLINA COMUM,31,R$/l,4.373,0.363,4.220,...,0.644,0.083,3.729,0.093,3.5871,3.929,0.025,2017-09,9,2017-09
95189,2017-12-31,2018-01-06,NORTE,PARA,GASOLINA COMUM,106,R$/l,4.287,0.284,3.839,...,0.508,0.066,3.779,0.155,3.3587,4.05,0.041,2018-01,1,2018-01
95194,2017-12-31,2018-01-06,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,388,R$/l,4.657,0.188,4.179,...,0.576,0.040,4.081,0.133,3.5999,4.388,0.033,2018-01,1,2018-01
95794,2018-01-28,2018-02-03,SUDESTE,MINAS GERAIS,GASOLINA COMUM,579,R$/l,4.421,0.176,3.899,...,0.409,0.040,4.012,0.104,3.641,4.3824,0.026,2018-02,2,2018-02
97298,2018-04-08,2018-04-14,NORTE,AMAZONAS,GASOLINA COMUM,71,R$/l,4.489,0.211,3.900,...,0.737,0.047,3.752,0.148,3.4,4,0.039,2018-04,4,2018-04
98205,2018-05-20,2018-05-26,NORDESTE,BAHIA,GASOLINA COMUM,331,R$/l,4.588,0.175,3.940,...,0.63,0.038,3.958,0.141,3.608,4.4796,0.036,2018-05,5,2018-05
98211,2018-05-20,2018-05-26,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,154,R$/l,4.353,0.279,3.899,...,0.427,0.064,3.926,0.174,3.52,4.2359,0.044,2018-05,5,2018-05
98221,2018-05-20,2018-05-26,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,357,R$/l,4.601,0.170,4.199,...,0.503,0.037,4.098,0.114,3.8408,4.4237,0.028,2018-05,5,2018-05
98225,2018-05-20,2018-05-26,SUDESTE,SAO PAULO,GASOLINA COMUM,1619,R$/l,4.196,0.187,3.499,...,0.403,0.045,3.793,0.13,2.99,4.1181,0.034,2018-05,5,2018-05
98501,2018-06-03,2018-06-09,CENTRO OESTE,GOIAS,GASOLINA COMUM,228,R$/l,4.837,0.112,4.490,...,0.56,0.023,4.277,0.091,3.7345,4.4065,0.021,2018-06,6,2018-06
99399,2018-07-15,2018-07-21,NORDESTE,ALAGOAS,GASOLINA COMUM,57,R$/l,4.668,0.098,4.539,...,0.577,0.021,4.091,0.106,3.9214,4.3407,0.026,2018-07,7,2018-07
99878,2018-08-05,2018-08-11,NORTE,TOCANTINS,GASOLINA COMUM,46,R$/l,4.731,0.223,4.290,...,0.573,0.047,4.158,0.039,4.0837,4.2337,0.009,2018-08,8,2018-08
100469,2018-09-02,2018-09-08,NORDESTE,PERNAMBUCO,GASOLINA COMUM,188,R$/l,4.324,0.231,3.980,...,0.292,0.053,4.032,0.139,3.8095,4.3559,0.034,2018-09,9,2018-09
100610,2018-09-09,2018-09-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,47,R$/l,4.752,0.094,4.579,...,0.48,0.020,4.272,0.082,4.042,4.364,0.019,2018-09,9,2018-09
100611,2018-09-09,2018-09-15,SUDESTE,ESPIRITO SANTO,GASOLINA COMUM,117,R$/l,4.676,0.148,4.450,...,0.394,0.032,4.282,0.071,4.1146,4.4471,0.017,2018-09,9,2018-09
100625,2018-09-09,2018-09-15,NORTE,RONDONIA,GASOLINA COMUM,71,R$/l,4.719,0.131,4.399,...,0.542,0.028,4.177,0.103,4.0639,4.3533,0.025,2018-09,9,2018-09
101221,2018-10-07,2018-10-13,NORDESTE,PIAUI,GASOLINA COMUM,66,R$/l,4.745,0.125,4.659,...,0.285,0.026,4.46,0.016,4.4468,4.4879,0.004,2018-10,10,2018-10
107754,2019-08-11,2019-08-17,NORDESTE,CEARA,GASOLINA COMUM,217,R$/l,4.589,0.086,4.390,...,0.576,0.019,4.013,0.073,3.8176,4.1438,0.018,2019-08,8,2019-08
118403,2021-01-24,2021-01-30,NORDESTE,RIO GRANDE DO NORTE,GASOLINA COMUM,27,R$/l,5.172,0.049,4.970,...,-99999.0,0.009,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-01,1,2021-01
118571,2021-01-31,2021-02-06,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,52,R$/l,4.888,0.113,4.699,...,-99999.0,0.023,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
118574,2021-01-31,2021-02-06,NORDESTE,PARAIBA,GASOLINA COMUM,36,R$/l,4.736,0.105,4.609,...,-99999.0,0.022,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
118585,2021-01-31,2021-02-06,NORDESTE,SERGIPE,GASOLINA COMUM,29,R$/l,4.807,0.095,4.650,...,-99999.0,0.020,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
118746,2021-02-07,2021-02-13,NORDESTE,MARANHAO,GASOLINA COMUM,72,R$/l,4.968,0.062,4.849,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
118760,2021-02-07,2021-02-13,SUL,SANTA CATARINA,GASOLINA COMUM,128,R$/l,4.736,0.153,4.300,...,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
118929,2021-02-14,2021-02-20,SUL,PARANA,GASOLINA COMUM,181,R$/l,4.662,0.160,4.349,...,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-02,2,2021-02
119291,2021-02-28,2021-03-06,NORTE,RORAIMA,GASOLINA COMUM,13,R$/l,5.016,0.097,4.950,...,-99999.0,0.019,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-03,3,2021-03
119631,2021-03-14,2021-03-20,NORTE,AMAPA,GASOLINA COMUM,24,R$/l,4.895,0.068,4.850,...,-99999.0,0.014,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-03,3,2021-03

### 11. Qual a média de preço dos estados da região sul em 2012?

In [132]:
regioes = df_main.groupby(['REGIÃO'])
preco_medio_sul = regioes['PREÇO MÉDIO REVENDA'].mean().reset_index()
preco_medio_sul

         REGIÃO  PREÇO MÉDIO REVENDA
0  CENTRO OESTE            12.440722
1      NORDESTE            10.663357
2         NORTE            13.411680
3       SUDESTE            10.217240
4           SUL            10.562091

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [180]:
df_gasolina_comum['MÊS'] = df_gasolina_comum['DATA FINAL'].apply(lambda x: x.month)
df_rio = df_gasolina_comum[df_gasolina_comum['ESTADO'] == 'RIO DE JANEIRO']

C:\Users\davi.melo\AppData\Local\Temp\ipykernel_16212\3939523640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina_comum['MÊS'] = df_gasolina_comum['DATA FINAL'].apply(lambda x: x.month)

In [182]:
df_mes_rio = df_rio.groupby('ANO_MES')[['PREÇO MÉDIO REVENDA','MÊS']].last()

In [184]:
df_mes_rio

         PREÇO MÉDIO REVENDA  MÊS
ANO_MES
2004-05                2.042    5
2004-06                2.152    6
2004-07                2.157    7
2004-08                2.178    8
2004-09                2.181    9
...                      ...  ...
2021-01                5.091    1
2021-02                5.558    2
2021-03                6.131    3
2021-04                6.071    4
2021-05                6.099    5

[204 rows x 2 columns]

In [186]:
(df_mes_rio[df_mes_rio['MÊS'] == 12] / df_mes_rio[df_mes_rio['MÊS'] == 12].shift(1)-1) * 100

         PREÇO MÉDIO REVENDA  MÊS
ANO_MES
2004-12                  NaN  NaN
2005-12             9.233449  0.0
2006-12             0.917065  0.0
2007-12             0.355591  0.0
2008-12             0.984252  0.0
2009-12             1.637427  0.0
2010-12             2.032988  0.0
2011-12             7.105263  0.0
2012-12             0.982801  0.0
2013-12             6.777894  0.0
2014-12             4.361979  0.0
2015-12            20.461634  0.0
2016-12             3.625065  0.0
2017-12            13.643178  0.0
2018-12             5.804749  0.0
2019-12             3.802993  0.0
2020-12            -1.321321  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [204]:
df_MAX = df_gasolina_comum.groupby('ANO_MES').max()['PREÇO MÉDIO REVENDA']
df_MIN = df_gasolina_comum.groupby('ANO_MES').min()['PREÇO MÉDIO REVENDA']
idx_MAX = df_gasolina_comum.groupby('ANO_MES')['PREÇO MÉDIO REVENDA'].idxmax()
idx_MIN = df_gasolina_comum.groupby('ANO_MES')['PREÇO MÉDIO REVENDA'].idxmin()

In [208]:
idx_MAX

ANO_MES
2004-05     12104
2004-06     12228
2004-07     12374
2004-08     12471
2004-09     12590
            ...
2021-01    118208
2021-02    119092
2021-03    119629
2021-04    120163
2021-05    120699
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [194]:
df_dif = pd.DataFrame()

In [216]:
df_dif['abs_dif'] = df_MAX - df_MIN
df_dif['percent_dif'] = ((df_MAX - df_MIN) / df_MIN) * 100
df_dif['MAX'] = df_MAX
df_dif['MIN'] = df_MIN

In [218]:
df_dif

         abs_dif  percent_dif    MAX    MIN
ANO_MES
2004-05    0.550    29.131356  2.438  1.888
2004-06    0.584    30.543933  2.496  1.912
2004-07    0.609    31.456612  2.545  1.936
2004-08    0.530    26.108374  2.560  2.030
2004-09    0.539    26.538651  2.570  2.031
...          ...          ...    ...    ...
2021-01    1.383    36.109661  5.213  3.830
2021-02    1.688    40.960932  5.809  4.121
2021-03    2.109    46.058091  6.688  4.579
2021-04    1.450    30.353779  6.227  4.777
2021-05    1.391    28.580234  6.258  4.867

[204 rows x 4 columns]

In [240]:
df_dif['ESTADO MAX'] = df_gasolina_comum.loc[idx_MAX, :]['ESTADO']
df_dif['ESTADO MIN'] = df_gasolina_comum.loc[idx_MIN, :]['ESTADO']

In [242]:
df_dif # ERRO POR CAUSA DOS ÍNDICES DIFERENTES NO IDX_MAX E MIN EM RELAÇÃO A TABELA DF_DIF

         abs_dif  percent_dif    MAX    MIN ESTADO MAX ESTADO MIN
ANO_MES
2004-05    0.550    29.131356  2.438  1.888        NaN        NaN
2004-06    0.584    30.543933  2.496  1.912        NaN        NaN
2004-07    0.609    31.456612  2.545  1.936        NaN        NaN
2004-08    0.530    26.108374  2.560  2.030        NaN        NaN
2004-09    0.539    26.538651  2.570  2.031        NaN        NaN
...          ...          ...    ...    ...        ...        ...
2021-01    1.383    36.109661  5.213  3.830        NaN        NaN
2021-02    1.688    40.960932  5.809  4.121        NaN        NaN
2021-03    2.109    46.058091  6.688  4.579        NaN        NaN
2021-04    1.450    30.353779  6.227  4.777        NaN        NaN
2021-05    1.391    28.580234  6.258  4.867        NaN        NaN

[204 rows x 6 columns]

In [248]:
# TRANSFORMANDO OS DADOS EM ARRAYS, FOI POSSIVEL REALIZAR O ENCAIXE
df_dif['ESTADO MAX'] = df_gasolina_comum.loc[idx_MAX, :]['ESTADO'].values 
df_dif['ESTADO MIN'] = df_gasolina_comum.loc[idx_MIN, :]['ESTADO'].values

In [246]:
df_dif

         abs_dif  percent_dif    MAX    MIN   ESTADO MAX        ESTADO MIN
ANO_MES
2004-05    0.550    29.131356  2.438  1.888         ACRE         SAO PAULO
2004-06    0.584    30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07    0.609    31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08    0.530    26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09    0.539    26.538651  2.570  2.031         ACRE         SAO PAULO
...          ...          ...    ...    ...          ...               ...
2021-01    1.383    36.109661  5.213  3.830         ACRE             AMAPA
2021-02    1.688    40.960932  5.809  4.121         ACRE             AMAPA
2021-03    2.109    46.058091  6.688  4.579         ACRE             AMAPA
2021-04    1.450    30.353779  6.227  4.777         ACRE             AMAPA
2021-05    1.391    28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [252]:
df_dif['ESTADO MAX'].value_counts()

ESTADO MAX
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64